.card:hover {
    box-shadow: 5px 10px 20px 1px #5c5b5a !important;
    transition: all 0.5s linear;
}

.card-body {
    padding: 2rem 0 !important;
    background-color: #fff;
}
.card-title {
    color: #000;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);
}
