.App {
    height: 100vh;
    background: #f5f4f3;
}

.texto h2 {
    display: flex;
    justify-content: center;
}

.row {
    margin-top: 25px;
}

.boton-salir .btn-link {
    text-decoration: none;
    color: #000;
    background: #ffd808;
    margin: 40px 60px;
    float: right;
}
